.Logo {
    background-color: white;
    padding: 8px;
    height: 80%;
    box-sizing: border-box;
}

.Logo div {
    height: 100%;
    /* background-image: url(../../assets/images/burguer-logo.png); */
}